/* Footer CSS */

.footer{
    background-color:var(--dark-layer-color);
    padding:2rem;
    text-align: center;
    border-top:.0714rem solid var(--border-color-light);

    & p{
        color:var(--white-color);
        text-align:center;

        & a{
            color:var(--primary-color);
        }
    }
}

/* Scroll Top */
.scroll_top{
    position:fixed;
    right:30px;
    bottom:30px;
    z-index:99;
    cursor: pointer;
    width:2.8571rem;
    height:2.8571rem;
    line-height: 3.5rem;
    text-align:center;
    background-color:var(--primary-color);
    border-radius: 100%;

    & svg{
        text-align: center;
        width:1.5rem;
        height:1.5rem;
        border-radius: 50%;

        & path{
            fill:var(--white-color);
        }
    }
}
.footer-container {
    background-color: black;
    color: white;
    margin-top: 14px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .footer-section {
    margin: 15px 0;
  }
  
  .footer-section h1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-links-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-section ul li a:hover {
    color: #990033;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  
  .social-icons a {
    font-size: 24px;
    color: white;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #990033;
  }
  
  .footer-bottom {
    border-top: 1px solid white;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 1rem;
  }
  
  @media (min-width: 768px) {
    .footer-content {
      flex-direction: row;
      justify-content: space-around;
      text-align: left;
    }
  
    .footer-links-container {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }
  